* { 
   vertical-align: baseline;
   font-weight: inherit;
   font-family: inherit;
   font-style: inherit;
   font-size: 100%;
   outline: 0;
   padding: 0;
   margin: 0; 
}
 
body {
   width: 800px; 
   margin: 0px auto;
   background-color: #808080;
   display: table;
}

header , main , footer  {
   border: 1px solid white;
   border-radius: 10px;
   background-color: #FFFFFF;
   padding: 5px 5px 5px 5px;
   display: block;
   text-align: justify;
}

a#logo {
   float:left;
}

.fstyle {
   font-style: italic;   
}

#italic{
   font-style: italic;
}

.fweight {
   font-weight: 600;
   }
   
.main-menu ul {
   display: none;
}

ul.main-menu li {
   display: inline;
}

ul.sub-menu li { 
   display:block;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-left: 27%;
   clear: left;
   
}
   
h1 {
   margin-top: 4% ;
   float: left;   
   font-family: Georgia;
   font-size: 20pt;
   padding-left: 3%;
}

ul.sub-menu  {
   background-color: white;
}
li {
   position: relative;
}
.sub-menu {
   position: absolute;
   left: 0px;
   top: 90%;
}

li:hover ul { 
   display: block;
   border: 1px solid black; 
   padding: 5px;
   border-radius: 10px;
}


 
 h2 {
   font-weight: 600;
   font-size: 17pt;
   padding-bottom:10px;
}
 
 h3 {
    font-weight: 600;
    font-size: 15pt;
    padding: 10px 0px 10px 0px;
}

small { 
   font-size: 13px; 
}
 
.bold {
   font-style: italic;
   font-weight: 600;
}
 
.center {
   text-align: center;
}

.display {
   width: 248px;
   height:25px;
}

table {
   text-align: center;
   margin: 0 auto;
}

td {
   padding: 1px 0px 1px 0px;
}

button {
   width: 48.5px;
   height: 31px;
}

#rowspan {
   height: 66px;  position:relative; top: 1px;
}

.float {
   float: left;
   position: relative;
   top: -6px;
}

#but0 {
   width: 99px;
}

#ulTech {
   padding: 0;
}

.liTech {
   margin-left: 35px; list-style-type: disc; list-style-position: outside; 
}

dt {
   font-weight: 600;
   font-size: 13pt;
}

dd {
   padding-left: 50px;
}

.aside {
   width: 250px; float:right; border: 1px solid #C0C0C0; border-radius: 10px; background-color: #C0C0C0; padding: 5px; margin: 5px;
}
